.Wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  transform-origin: top;
}

.Shape {
  left: 0;
  right: 0;
  position: absolute;
  border-radius: 50%;
  border: 1px solid blue;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}